<?xml version="1.0"?>
<!-- di.xml - Dependency Injection config. Qui registriamo il plugin per il bottone "Avvisami". -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Plugin su Magento\CatalogInventory\Block\Stockqty\AbstractStockqty after = viene eseguito
    DOPO il metodo originale, ci serve per check lo stock status -->
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="digitouch_incoming_stock_notify_button" type="Digitouch\StockManagement\Plugin\Block\Product\View" sortOrder="10"/>
    </type>

</config>
